<ion-side-menus>

  <ion-pane ion-side-menu-content>
    <ion-nav-bar class="bar-stable nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> Back</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <button class='button button-clear button-positive ion-ios7-home' style='width:35px;' ng-click='home()'> </button>

      <h1 class="title">Menu</h1>
      
      <button class='button button-clear ion-plus-circled button-positive' ng-click='add()'> </button>

    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item nav-clear menu-close href="#/app/host/">
          Hosts
        </ion-item>
        <ion-item nav-clear menu-close href="#/about">
          About
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
