<!-- list host -->
<style type="text/css">

	@media (min-width: 700px){
		.host{
			background: #fff;
			border-radius: 5px;
			padding:10px;
			margin:10px 2%;
			width: 29%;
			vertical-align: top;
			display: inline-block;
		}
	}

	@media (max-width: 700px) and (min-width: 480px){
		.host{
			background: #fff;
			border-radius: 5px;
			padding:10px;
			margin:10px 2%;
			width: 29%;
			vertical-align: top;
			display: inline-block;
		}
	}

	@media (max-width: 480px){
		.host{
			vertical-align: top;
			background: #fff;
			border-radius: 5px;
			padding:10px;
			margin: 10px 5%;
			width: 90%;
			display: inline-block;
		}
	}
	
	.name{
		text-size:18px;
		text-decoration:none;
		text-transform:capitalize;
	}
	
	.target h5{
		text-size:14px;
		color:rgb(0, 0, 224);
	}
</style>
<ion-view title="Hosts">
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
	    <button class="button button-clear ion-plus-circled button-positive" ng-click='add()'></button>
	</ion-nav-buttons> 

    <ion-content class="has-header body" ng-init='load()'>


    	<div ng-click="navigate('/app/host/view/{{item.id}}')" ng-repeat="item in targets" class='host'>
	    	<div>
	    		<h5>{{item.name}}</h5>
	    	</div>
	    	
	    	<a class='target'>
	    		<h5>{{item.target}}</h5>
	    	</a>
    	</div>
    </ion-content>
</ion-view>


