<!-- about view -->
<ion-view title="About">    
    <ion-nav-buttons side="left">
	    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>

	<ion-content class="has-header body">
		<div class="list card">
		  <div class="item item-avatar">
		    <img src="https://pbs.twimg.com/profile_images/3411338183/bfde12fa956cce76b461897ede1c9ac1.jpeg">
		    <h2>Blashadow</h2>
		    <p>23 / 09 / 2014</p>
		  </div>

		  <div class="item item-body">
		    <p>
		      Nodejs PM2 Android Client :)

		      <a href="http://nightdeveloper.net/">Personal Blog</a>	
		    </p>
		  </div>
		</div>
	</ion-content>
</ion-view>